.legend1{
    padding: 5px;
    
    border: 1px solid black;
    border-radius: 10px;
    background: white;
   

}
.form2{
    margin: 30px;
    background-color: blueviolet;
    border: 1px solid black;
 border-top: 0cap;

}

.body{
    
}